<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
	<!-- 从类路径下加载Spring配置文件,classpath关键字特指类路径下加载 -->
	<!-- 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
		</param-value>
	</context-param>
	 -->
	<!-- 负责启动spring容器的监听器,它将引用上面上下面参数获得spring配置文件地址 -->
	<!-- 
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	 -->
	<!-- Spring MVC的主控Servlet -->
	<!-- 
	<servlet>
		<servlet-name>springmvc_test</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup> -->
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml
		<init-param>
		    <param-name>contextConfigLocation</param-name>
		    <param-value>/WEB-INF/spring-servlet.xml</param-value>&nbsp; 默认
		</init-param>
		-->
	<!-- 
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc_test</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	 -->
	
	
	<!-- 以下配置为学习springMVC练习配置 -->
	<!-- 业务层和持久层的spring配置文件，这些配置文件被父spring容器所使用 -->
	<!-- 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationMVC.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	 -->
	<!-- 声明DispatcherServlet   (可以配置多个，用于处理不同的业务！！！！) -->
	<servlet>
		<servlet-name>springMVCTest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVCTest</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>
