<?xml version="1.0" encoding="UTF-8"?>
<!-- 1、默认命名空间;  2、xsi标准命名空间,用于指定自定义命名空间的schema文件;	3、自定义命名空间,aop是自定义命名空间的简称;	-->
<beans xmlns="http://www.springframework.org/schema/beans"		
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/jee
    http://www.springframework.org/schema/jee/spring-jee-3.0.xsd" default-autowire="byName"
    default-lazy-init="true">
    
    <!-- 构造方法设置值 -->
    <!-- 
    <bean id="car1" name="car1" class="com.cybbj.reflect.domain.Car">
    	<constructor-arg index="1" type="java.lang.String" value="奔驰"></constructor-arg>
    	<constructor-arg index="2" type="java.lang.String" value="黑色"></constructor-arg>
    	<constructor-arg index="3" type="int" value="600"></constructor-arg>
    </bean>
     -->
     
    <!-- bean对象引用 -->
    <!-- 
    <bean id="car" name="car" class="com.cybbj.resourcce.bean.Car"></bean>
    <bean id="boss" name="boss" class="com.cybbj.resourcce.bean.Boss" >
    	<property name="car">
    		<ref bean="car"/>
    	</property>
    </bean>
     -->
    <!-- List,Map,Properties设值
    <bean id="boss" name="boss" class="com.cybbj.resourcce.bean.Boss" abstract="true">
    	<property name="favorite">
    		<list>
    			<value>basketball</value>
    			<value>baseball</value>
    			<value>piano</value>
    		</list>
    	</property>
    	<property name="jobMap">
    		<map>
    			<entry>
    				<key><value>job1</value></key>
    				<value>早会</value>
    			</entry>
    			<entry>
    				<key><value>job2</value></key>
    				<value>学习spring</value>
    			</entry>
    		</map>
    	</property>
    	
    	<property name="properties">
    		<props>
    			<prop key="mail1">111@139.com</prop>
    			<prop key="mail2">222@139.com</prop>
    		</props>
    	</property>
    </bean> 
     -->
    
    <!-- 集合合并测试 -->
    <!--
    <bean id="parentBoss" name="parentBoss" class="com.cybbj.resourcce.bean.ParentBoss" >
    	<property name="favorite">
    		<list merge="true">
    			<value>basketball</value>
    			<value>baseball</value>
    		</list>
    	</property>
 
    </bean>
    <bean id="childBoss" name="childBoss" parent="parentBoss" class="com.cybbj.resourcce.bean.ChildBoss">
    	<property name="favorite">
    		<list merge="true">
    			<value>write</value>
    			<value>listen</value>
    		</list>
    	</property>
    </bean>
      -->
     
    <!-- util 命名空间配合集合 
   	<util:list id="favoriteList" list-class="java.util.LinkedList">
   		<value>piano</value>
   		<value>tennis</value>
	</util:list>
	-->    
    
    <!-- lookup方法注入 -->
    <!-- prototype类型的bean -->
    <!-- 
    <bean id="car" name="car" class="com.cybbj.resourcce.bean.Car"
    	p:brand="宝马" p:color="白色" p:maxSpeed="400" scope="prototype"/>
     -->
    <!-- 实施方法注入 -->	
    <!-- 
    <bean id="magicBoss" name="magicBoss" class="com.cybbj.service.injectfun.MagicBoss">
    	<lookup-method name="getCar" bean="car"/>
    </bean>
     -->
     
    <!-- 方法替换 -->
    <!-- 
    <bean id="boss1" name="boss1" class="com.cybbj.resourcce.bean.replaceMethod.Boss1">
    	<replaced-method name="getCar" replacer="boss2"></replaced-method>
    </bean>
    <bean id="boss2" name="boss2" class="com.cybbj.resourcce.bean.replaceMethod.Boss2"></bean>
     -->
	
	<!-- 继承 -->
	<bean id="abstractCar" name="abstractCar" class="com.cybbj.resourcce.bean.Car" abstract="true"
		p:brand="宝马" p:color="白色" p:maxSpeed="350"/>
	<bean id="car2" p:brand="红旗" name="car2" parent="abstractCar"></bean>
	<bean id="car3" p:brand="法拉利" name="car3" parent="abstractCar"></bean>

</beans>